/Logs
/obj
/Temp
/Library
/Assets/Cartoon Castle Building Kit
/Assets/Cartoon Temple Building Kit
/.vscode/launch.json
/.vs/3d_HeroQuest/v15/Server/sqlite3/storage.ide-wal
/.vs/3d_HeroQuest/v15/Server/sqlite3/storage.ide-shm
/.vs/3d_HeroQuest/v15/Server/sqlite3/storage.ide
/.vs/3d_HeroQuest/v15/Server/sqlite3/db.lock
/.vs/3d_HeroQuest/v15/Browse.VC.db
/.vs/3d_HeroQuest/v15/.suo
